manifest {
    name = 'off-targets'
    description = 'Pipeline for CRISPR guide design and off-target analysis'
    author = 'Sam Friedman (https://github.com/samuelmf1)'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04.0'
}

params {
    genome = null
    annotation = null
    outdir = 'results'
    output_prefix = 'result'
    chunks = 100
    test_subset = false
    far_bp = 250
    close_bp = 5
    family_flank = 1000
    n_guides_pergene = 3
    mismatch_intolerance = 2
    rs3_tracr = 'Hsu2013'
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            executor = 'local'
            
            withName: PROMOTER_GUIDES { cpus = 1; memory = '4 GB' }
            withName: SPLIT { cpus = 1; memory = '2 GB' }
            withName: OFFTARGETS { cpus = 2; memory = '4 GB' }
            withName: MERGE { cpus = 1; memory = '2 GB' }
            withName: RANK_GUIDES { cpus = 1; memory = '2 GB' }
            withName: SELECT_GUIDES { cpus = 1; memory = '2 GB' }
        }
    }
    
    slurm {
        executor {
            name = 'slurm'
            queueSize = 100
        }
        process {
            executor = 'slurm'
            clusterOptions  = '--prefer=v5'

            withName: PROMOTER_GUIDES { cpus = 1; memory = '16 GB';  }
            withName: SPLIT { cpus = 1; memory = '8 GB' }
            withName: OFFTARGETS { cpus = 4; memory = '16 GB' }

            withName: MERGE { cpus = 1; memory = '16 GB' }
            withName: RANK_GUIDES { cpus = 1; memory = '8 GB' }
            withName: SELECT_GUIDES { cpus = 1; memory = '32 GB' }
        }
    }
    
    test {
        params {
            chunks = 5
            test_subset = true
        }
        executor {
            name = 'slurm'
            queueSize = 100
        }
        process {
            executor = 'slurm'
            clusterOptions  = '--prefer=v5'
            
            withName: PROMOTER_GUIDES { cpus = 1; memory = '16 GB' }
            withName: SPLIT { cpus = 1; memory = '8 GB' }
            withName: OFFTARGETS { cpus = 4; memory = '16 GB' }

            withName: MERGE { cpus = 1; memory = '16 GB' }
            withName: RANK_GUIDES { cpus = 1; memory = '8 GB' }
            withName: SELECT_GUIDES { cpus = 1; memory = '32 GB' }
        }
    }
}

